<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AddPromotion</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b166">  <td>19/09/25 09:52:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddPromotion.C001_AddPromotionWithoutVariantConfig()[pri:0, instance:TC_AddPromotion@ddb2910]">C001_AddPromotionWithoutVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="67b166">  <td>19/09/25 09:54:32</td>   <td>128205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddPromotion.C002_AddPromotionWithVariantConfig()[pri:0, instance:TC_AddPromotion@ddb2910]">C002_AddPromotionWithVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:52:22</td>   <td>-2242</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:TC_AddPromotion@ddb2910]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:56:51</td>   <td>266895</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_AddPromotion@ddb2910]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:52:22</td>   <td>-2248</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_AddPromotion@ddb2910]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:56:51</td>   <td>266928</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddPromotion@ddb2910]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:52:22</td>   <td>-2240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddPromotion@ddb2910]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:54:30</td>   <td>125931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddPromotion@ddb2910]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:54:28</td>   <td>123588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddPromotion@ddb2910]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:56:49</td>   <td>264807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddPromotion@ddb2910]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
</table>
