<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PrintBill</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b569">  <td>19/09/25 10:47:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PrintBill.C001_PrintOneBillNormalShop()[pri:0, instance:TC_PrintBill@2d4629bb]">C001_PrintOneBillNormalShop</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74b569">  <td>19/09/25 10:48:52</td>   <td>59084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PrintBill.C001_PrintOneBillNormalShop()[pri:0, instance:TC_PrintBill@2d4629bb]">C001_PrintOneBillNormalShop</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74b569">  <td>19/09/25 10:49:51</td>   <td>118290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PrintBill.C002_PrintOneBillShopMall()[pri:0, instance:TC_PrintBill@2d4629bb]">C002_PrintOneBillShopMall</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74b569">  <td>19/09/25 10:50:55</td>   <td>182539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PrintBill.C002_PrintOneBillShopMall()[pri:0, instance:TC_PrintBill@2d4629bb]">C002_PrintOneBillShopMall</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74b569">  <td>19/09/25 10:51:52</td>   <td>239025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_PrintBill.C003_PrintMultiBill()[pri:0, instance:TC_PrintBill@2d4629bb]">C003_PrintMultiBill</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:47:51</td>   <td>-2234</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:53:04</td>   <td>310960</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:47:51</td>   <td>-2246</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:53:04</td>   <td>310977</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:47:51</td>   <td>-2233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:48:50</td>   <td>56908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:49:49</td>   <td>116107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:50:53</td>   <td>180303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:51:50</td>   <td>236728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:48:44</td>   <td>51428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:49:43</td>   <td>110403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:50:48</td>   <td>174813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:51:46</td>   <td>232904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:53:04</td>   <td>310893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_PrintBill@2d4629bb]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
</table>
