<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EditProduct</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:27:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C001_EditProductWithoutVariantConfig()[pri:0, instance:TC_EditProduct@1177049c]">C001_EditProductWithoutVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:30:21</td>   <td>168284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C002_EditProductWithoutVariantConfig_OldProduct()[pri:0, instance:TC_EditProduct@1177049c]">C002_EditProductWithoutVariantConfig_OldProduct</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:31:20</td>   <td>226635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C002_EditProductWithoutVariantConfig_OldProduct()[pri:0, instance:TC_EditProduct@1177049c]">C002_EditProductWithoutVariantConfig_OldProduct</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:32:33</td>   <td>300211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C003_EditProductWithVariantConfig()[pri:0, instance:TC_EditProduct@1177049c]">C003_EditProductWithVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:35:22</td>   <td>468989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C004_EditProductWithVariantConfig_OldProduct()[pri:0, instance:TC_EditProduct@1177049c]">C004_EditProductWithVariantConfig_OldProduct</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="74d1a4">  <td>19/09/25 09:36:20</td>   <td>526784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_EditProduct.C004_EditProductWithVariantConfig_OldProduct()[pri:0, instance:TC_EditProduct@1177049c]">C004_EditProductWithVariantConfig_OldProduct</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:27:30</td>   <td>-2660</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:37:20</td>   <td>586560</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:27:30</td>   <td>-2667</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:37:20</td>   <td>586591</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:27:30</td>   <td>-2660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:30:19</td>   <td>166062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:31:17</td>   <td>224216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:32:31</td>   <td>298069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:35:20</td>   <td>466756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:36:17</td>   <td>524252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:30:17</td>   <td>163972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:31:11</td>   <td>218035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:32:09</td>   <td>275563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:35:18</td>   <td>464676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:36:13</td>   <td>520317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:37:14</td>   <td>581079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_EditProduct@1177049c]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
</table>
