<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>TC_ShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:TC_ShopInfo@7a254ebe]<br/></td></tr>
</table>
