<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ShopInfo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="909dad">  <td>19/09/25 10:16:21</td>   <td>0</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_ShopInfo@7a254ebe]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:16:21</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:TC_ShopInfo@7a254ebe]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:16:21</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_ShopInfo@7a254ebe]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bb584">  <td>19/09/25 10:16:23</td>   <td>2146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:TC_ShopInfo@7a254ebe]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:17:21</td>   <td>59765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_ShopInfo@7a254ebe]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:17:25</td>   <td>63709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_ShopInfo@7a254ebe]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bb584">  <td>19/09/25 10:17:27</td>   <td>66151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShopInfo.C001_ChangeShopInfoWithValidData()[pri:0, instance:TC_ShopInfo@7a254ebe]">C001_ChangeShopInfoWithValidData</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:18:25</td>   <td>124295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_ShopInfo@7a254ebe]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:18:29</td>   <td>128293</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_ShopInfo@7a254ebe]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 10:18:30</td>   <td>128309</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_ShopInfo@7a254ebe]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
</table>
