<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TC_AddProduct</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>C002_AddNewProductWithSubmitAndCreate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C006_CopyProductWithVarriantConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C003_CopyProductWithoutCheckoutConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C005_AddNewProductWithCheckoutCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C004_AddNewProductWithVariantConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>C001_AddNewProductWithoutCheckoutConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseTearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>classTearDown</td>
<td>&nbsp;</td></tr>
</table>
