<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AddProduct</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:08:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C001_AddNewProductWithoutCheckoutConfig()[pri:0, instance:TC_AddProduct@6812c8cc]">C001_AddNewProductWithoutCheckoutConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:10:55</td>   <td>121975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C002_AddNewProductWithSubmitAndCreate()[pri:0, instance:TC_AddProduct@6812c8cc]">C002_AddNewProductWithSubmitAndCreate</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:12:55</td>   <td>241402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C003_CopyProductWithoutCheckoutConfig()[pri:0, instance:TC_AddProduct@6812c8cc]">C003_CopyProductWithoutCheckoutConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:14:15</td>   <td>322193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C004_AddNewProductWithVariantConfig()[pri:0, instance:TC_AddProduct@6812c8cc]">C004_AddNewProductWithVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:15:08</td>   <td>375080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C004_AddNewProductWithVariantConfig()[pri:0, instance:TC_AddProduct@6812c8cc]">C004_AddNewProductWithVariantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:17:15</td>   <td>501887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C005_AddNewProductWithCheckoutCate()[pri:0, instance:TC_AddProduct@6812c8cc]">C005_AddNewProductWithCheckoutCate</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="7bddaa">  <td>19/09/25 09:19:34</td>   <td>640640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddProduct.C006_CopyProductWithVarriantConfig()[pri:0, instance:TC_AddProduct@6812c8cc]">C006_CopyProductWithVarriantConfig</td> 
  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:08:51</td>   <td>-2351</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp()[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:21:45</td>   <td>771433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:08:51</td>   <td>-2368</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:21:45</td>   <td>771475</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:08:51</td>   <td>-2350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:10:53</td>   <td>119767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:12:52</td>   <td>239212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:14:13</td>   <td>319983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:15:06</td>   <td>372656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:17:13</td>   <td>499720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:19:32</td>   <td>638429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:10:51</td>   <td>117437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:12:50</td>   <td>236884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:14:13</td>   <td>319851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:15:00</td>   <td>367024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:17:11</td>   <td>497639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:19:29</td>   <td>636090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
<tr bgcolor="909dad">  <td>19/09/25 09:21:43</td>   <td>769343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_AddProduct@6812c8cc]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@687780858</td>   <td></td> </tr>
</table>
