<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Chat</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="919086">  <td>20/04/09 12:52:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Chat.C001_QuickReplyToBuyer()[pri:0, instance:TC_Chat@362a561e]">C001_QuickReplyToBuyer</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="919086">  <td>20/04/09 12:53:35</td>   <td>55485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Chat.C002_SendOrderToBuyer()[pri:0, instance:TC_Chat@362a561e]">C002_SendOrderToBuyer</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="919086">  <td>20/04/09 12:54:29</td>   <td>109634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Chat.C003_SendProductToBuyer()[pri:0, instance:TC_Chat@362a561e]">C003_SendProductToBuyer</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="919086">  <td>20/04/09 12:55:25</td>   <td>165576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Chat.C005_SendVoucherToBuyer()[pri:0, instance:TC_Chat@362a561e]">C005_SendVoucherToBuyer</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="919086">  <td>20/04/09 12:56:26</td>   <td>226877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Chat.C006_SendMessageToBuyer()[pri:0, instance:TC_Chat@362a561e]">C006_SendMessageToBuyer</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:34</td>   <td>-5168</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp(org.testng.ITestContext)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:57:12</td>   <td>272644</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:34</td>   <td>-5169</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:57:12</td>   <td>272756</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:34</td>   <td>-5147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:53:30</td>   <td>50313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:54:24</td>   <td>104475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:55:20</td>   <td>160267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:56:21</td>   <td>221725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:53:25</td>   <td>45951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:54:20</td>   <td>100123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:55:15</td>   <td>155929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:56:17</td>   <td>217377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:57:08</td>   <td>268305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Chat@362a561e]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
</table>
