<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>uat</td><td>TC_PrivateOffer.C001_SendPrivateOfferByPercent()[pri:0, instance:TC_PrivateOffer@de215f9]<br/></td></tr>
</table>
