<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b398df">  <td>20/04/09 12:50:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.C006_LoginWithEmail_NormalShop()[pri:0, instance:TC_Login@24ba9639]">C006_LoginWithEmail_NormalShop</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="b398df">  <td>20/04/09 12:51:05</td>   <td>36495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.C007_LoginWithPhoneNumber_NormalShop()[pri:0, instance:TC_Login@24ba9639]">C007_LoginWithPhoneNumber_NormalShop</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="b398df">  <td>20/04/09 12:51:41</td>   <td>71852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.C008_LoginWithEmail_SenmallShop()[pri:0, instance:TC_Login@24ba9639]">C008_LoginWithEmail_SenmallShop</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="b398df">  <td>20/04/09 12:52:07</td>   <td>98601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.C009_LoginWithPhoneNumber_SenmallShop()[pri:0, instance:TC_Login@24ba9639]">C009_LoginWithPhoneNumber_SenmallShop</td> 
  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:50:14</td>   <td>-14326</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.classSetUp(org.testng.ITestContext)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;classSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:29</td>   <td>119964</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.classTearDown()[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;classTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:50:14</td>   <td>-14326</td> <td title="&gt;&gt;BaseTest.suiteSetUp(org.testng.ITestContext)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;suiteSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:29</td>   <td>120288</td> <td title="&lt;&lt;BaseTest.suiteTearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;suiteTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:50:15</td>   <td>-13961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:50:59</td>   <td>30392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:51:34</td>   <td>65422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:02</td>   <td>93436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testCaseSetUp(java.lang.reflect.Method, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&gt;&gt;testCaseSetUp</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:50:54</td>   <td>25722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:51:30</td>   <td>61035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:51:58</td>   <td>89080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
<tr bgcolor="8cba9c">  <td>20/04/09 12:52:24</td>   <td>115592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCaseTearDown(org.testng.ITestResult, org.testng.ITestContext, java.lang.String)[pri:0, instance:TC_Login@24ba9639]">&lt;&lt;testCaseTearDown</td> 
<td>&nbsp;</td>  <td>main@726281927</td>   <td></td> </tr>
</table>
